<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="BRegNo">
	{$BRegNo_editcontrol}
	</control>
	<control field="ComName">
	{$ComName_editcontrol}
	</control>
	<control field="Fname">
	{$Fname_editcontrol}
	</control>
	<control field="Lname">
	{$Lname_editcontrol}
	</control>
	<control field="OAddress">
	{$OAddress_editcontrol}
	</control>
	<control field="DAddress">
	{$DAddress_editcontrol}
	</control>
	<control field="StaffID">
	{$StaffID_editcontrol}
	</control>
	<control field="Phone">
	{$Phone_editcontrol}
	</control>
	<control field="Email">
	{$Email_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>