<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Customers, View record [
CID: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN BRegNo_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_BRegNo {$fielddispclass_BRegNo}">
			<b>BReg No</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_BRegNo {$fielddispclass_BRegNo}">
			{$BRegNo_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END BRegNo_fieldblock}
	{BEGIN ComName_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_ComName {$fielddispclass_ComName}">
			<b>Company Name</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_ComName {$fielddispclass_ComName}">
			{$ComName_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ComName_fieldblock}
	{BEGIN Fname_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Fname {$fielddispclass_Fname}">
			<b>First name</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Fname {$fielddispclass_Fname}">
			{$Fname_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Fname_fieldblock}
	{BEGIN Lname_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Lname {$fielddispclass_Lname}">
			<b>Last Name</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Lname {$fielddispclass_Lname}">
			{$Lname_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Lname_fieldblock}
	{BEGIN OAddress_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_OAddress {$fielddispclass_OAddress}">
			<b>Office Address</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_OAddress {$fielddispclass_OAddress}">
			{$OAddress_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END OAddress_fieldblock}
	{BEGIN DAddress_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_DAddress {$fielddispclass_DAddress}">
			<b>Delivery Address</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_DAddress {$fielddispclass_DAddress}">
			{$DAddress_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END DAddress_fieldblock}
	{BEGIN StaffID_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_StaffID {$fielddispclass_StaffID}">
			<b>Staff ID</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_StaffID {$fielddispclass_StaffID}">
			{$StaffID_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END StaffID_fieldblock}
	{BEGIN Phone_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Phone {$fielddispclass_Phone}">
			<b>Phone</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Phone {$fielddispclass_Phone}">
			{$Phone_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Phone_fieldblock}
	{BEGIN Email_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Email {$fielddispclass_Email}">
			<b>Email</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Email {$fielddispclass_Email}">
			{$Email_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Email_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
