<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_BRegNo}
			<a href="#" id="addSearchControl_BRegNo" class="addSearchControl" {$addSearchControl_BRegNo_attrs}>BReg No</a><br>
		{END addSearch_BRegNo}
		{BEGIN addSearch_ComName}
			<a href="#" id="addSearchControl_ComName" class="addSearchControl" {$addSearchControl_ComName_attrs}>Company Name</a><br>
		{END addSearch_ComName}
		{BEGIN addSearch_Fname}
			<a href="#" id="addSearchControl_Fname" class="addSearchControl" {$addSearchControl_Fname_attrs}>First name</a><br>
		{END addSearch_Fname}
		{BEGIN addSearch_Lname}
			<a href="#" id="addSearchControl_Lname" class="addSearchControl" {$addSearchControl_Lname_attrs}>Last Name</a><br>
		{END addSearch_Lname}
		{BEGIN addSearch_OAddress}
			<a href="#" id="addSearchControl_OAddress" class="addSearchControl" {$addSearchControl_OAddress_attrs}>Office Address</a><br>
		{END addSearch_OAddress}
		{BEGIN addSearch_DAddress}
			<a href="#" id="addSearchControl_DAddress" class="addSearchControl" {$addSearchControl_DAddress_attrs}>Delivery Address</a><br>
		{END addSearch_DAddress}
		{BEGIN addSearch_StaffID}
			<a href="#" id="addSearchControl_StaffID" class="addSearchControl" {$addSearchControl_StaffID_attrs}>Staff ID</a><br>
		{END addSearch_StaffID}
		{BEGIN addSearch_Phone}
			<a href="#" id="addSearchControl_Phone" class="addSearchControl" {$addSearchControl_Phone_attrs}>Phone</a><br>
		{END addSearch_Phone}
		{BEGIN addSearch_Email}
			<a href="#" id="addSearchControl_Email" class="addSearchControl" {$addSearchControl_Email_attrs}>Email</a><br>
		{END addSearch_Email}
	</div>
	
	<table class="controlsBlock">
	{BEGIN searchCtrlBlock}
		<tr class="srchPanelRow" {$filterRow_attrs}>
			<td class="srchPanelCell">{$delCtrlButt}</td>
			<td class="srchPanelCell">{$fLabel}:&nbsp;</td>
			<td class="srchPanelCell srchPanelCell2">
				<div class="runner-searchtype">{$searchtype}</div>
				<div class="runner-searchcontrol">{$searchcontrol}</div>
				<div class="runner-searchcontrol">{$searchcontrol1}</div>
		</tr>
	{END searchCtrlBlock}
	</table>
	
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
