<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="DrNo">
	{$DrNo_editcontrol}
	</control>
	<control 
	field="orderID">
	{$orderID_editcontrol}
	</control>
	<control 
	field="prodID">
	{$prodID_editcontrol}
	</control>
	<control 
	field="longname">
	{$longname_editcontrol}
	</control>
	<control 
	field="qty">
	{$qty_editcontrol}
	</control>
	<control 
	field="eta">
	{$eta_editcontrol}
	</control>
	<control 
	field="delFlag">
	{$delFlag_editcontrol}
	</control>
	<control 
	field="TimeStamp">
	{$TimeStamp_editcontrol}
	</control>
	<control 
	field="staffID">
	{$staffID_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
