<div {$pageattrs}>

{BEGIN container_dcount}
<table class="runner-c runner-c-dcount" cellpadding="0" >
<tr class="{$cheaderclass_dcount}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>


<tr  class="runner-row style1 runner-b-detailspreviewheader {$brickclass_detailspreviewheader}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><b>Delivery</b>
</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style1 runner-b-detailspreviewdetailsfount {$brickclass_detailspreviewdetailsfount}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >Details found: <strong>{$row_count}.</strong>
</td><td class="runner-cr"></td></tr>


{BEGIN display_first}
<tr  class="runner-row style1 runner-b-detailspreviewdispfirst {$brickclass_detailspreviewdispfirst}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >Displaying first: <strong>{$display_count}</strong>.
</td><td class="runner-cr"></td></tr>{END display_first}


<tr class="{$cfooterclass_dcount}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="runner-c runner-c-detailspreviewgrid runner-b-detailspreviewgrid">
	<tr  class="runner-toprow style1">
		<th class="runner-cl"><img src="images/spacer.gif"></th>
		<th class="runner-cc ">DR No</th>
		<th class="runner-cc ">Order ID</th>
		<th class="runner-cc ">Product</th>
		<th class="runner-cc ">Quantity</th>
		<th class="runner-cc ">Delivery Flag</th>
		<th class="runner-cc ">ETA</th>
		<th class="runner-cc runner-clast">Staff ID</th>
		<th class="runner-cr"><img src="images/spacer.gif"></th>
	</tr>
	{BEGIN details_row}
	<tr class="runner-row style1">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc ">{$DrNo_value}</td>
		<td class="runner-cc ">{$orderID_value}</td>
		<td class="runner-cc ">{$prodID_value}</td>
		<td class="runner-cc ">{$qty_value}</td>
		<td class="runner-cc ">{$delFlag_value}</td>
		<td class="runner-cc ">{$eta_value}</td>
		<td class="runner-cc runner-clast">{$staffID_value}</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
	{END details_row}
	<tr class="runner-bottomrow style1">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc runner-clast"></td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>