<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_master}
<table class="runner-c runner-c-master" cellpadding="0" >
<tr class="{$cheaderclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>

{BEGIN mastertable_block}
<td  class="runner-cc runner-bl runner-b-masterinfoprint" {$brickclass_masterinfoprint}><span>{$showmasterfile}
</span></td>
{END mastertable_block}

<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_master}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_master}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Order Detail</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN ODetailID_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ODetailID_fieldheader}
	<b>ID</b>
	{END ODetailID_fieldheader}
</th>
{END ODetailID_fieldheadercolumn}
	{BEGIN OrderID_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN OrderID_fieldheader}
	<b>Order ID</b>
	{END OrderID_fieldheader}
</th>
{END OrderID_fieldheadercolumn}
	{BEGIN ProductID_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN ProductID_fieldheader}
	<b>Product</b>
	{END ProductID_fieldheader}
</th>
{END ProductID_fieldheadercolumn}
	{BEGIN UPrice_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN UPrice_fieldheader}
	<b>Unit Price</b>
	{END UPrice_fieldheader}
</th>
{END UPrice_fieldheadercolumn}
	{BEGIN OrdQuant_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN OrdQuant_fieldheader}
	<b>Order Quantity</b>
	{END OrdQuant_fieldheader}
</th>
{END OrdQuant_fieldheadercolumn}
	{BEGIN DelQuant_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DelQuant_fieldheader}
	<b>Delivered Quantity</b>
	{END DelQuant_fieldheader}
</th>
{END DelQuant_fieldheadercolumn}
	{BEGIN Discount_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Discount_fieldheader}
	<b>Discount</b>
	{END Discount_fieldheader}
</th>
{END Discount_fieldheadercolumn}
	{BEGIN Total_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Total_fieldheader}
	<b>Total</b>
	{END Total_fieldheader}
</th>
{END Total_fieldheadercolumn}
	{BEGIN DelDate_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DelDate_fieldheader}
	<b>Delivery Date</b>
	{END DelDate_fieldheader}
</th>
{END DelDate_fieldheadercolumn}
	{BEGIN BillNo_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN BillNo_fieldheader}
	<b>Bill No</b>
	{END BillNo_fieldheader}
</th>
{END BillNo_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN ODetailID_fieldcolumn}
<td  class="runner-cc {$ODetailID_class}" {$ODetailID_style}>
	{$ODetailID_value}
</td>
{END ODetailID_fieldcolumn}
	{BEGIN OrderID_fieldcolumn}
<td  class="runner-cc {$OrderID_class}" {$OrderID_style}>
	{$OrderID_value}
</td>
{END OrderID_fieldcolumn}
	{BEGIN ProductID_fieldcolumn}
<td  class="runner-cc {$ProductID_class}" {$ProductID_style}>
	{$ProductID_value}
</td>
{END ProductID_fieldcolumn}
	{BEGIN UPrice_fieldcolumn}
<td  class="runner-cc {$UPrice_class}" {$UPrice_style}>
	{$UPrice_value}
</td>
{END UPrice_fieldcolumn}
	{BEGIN OrdQuant_fieldcolumn}
<td  class="runner-cc {$OrdQuant_class}" {$OrdQuant_style}>
	{$OrdQuant_value}
</td>
{END OrdQuant_fieldcolumn}
	{BEGIN DelQuant_fieldcolumn}
<td  class="runner-cc {$DelQuant_class}" {$DelQuant_style}>
	{$DelQuant_value}
</td>
{END DelQuant_fieldcolumn}
	{BEGIN Discount_fieldcolumn}
<td  class="runner-cc {$Discount_class}" {$Discount_style}>
	{$Discount_value}
</td>
{END Discount_fieldcolumn}
	{BEGIN Total_fieldcolumn}
<td  class="runner-cc {$Total_class}" {$Total_style}>
	{$Total_value}
</td>
{END Total_fieldcolumn}
	{BEGIN DelDate_fieldcolumn}
<td  class="runner-cc {$DelDate_class}" {$DelDate_style}>
	{$DelDate_value}
</td>
{END DelDate_fieldcolumn}
	{BEGIN BillNo_fieldcolumn}
<td  class="runner-cc {$BillNo_class}" {$BillNo_style}>
	{$BillNo_value}
</td>
{END BillNo_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN ODetailID_fieldfootercolumn}
<td class="runner-cc "></td>
{END ODetailID_fieldfootercolumn}
{BEGIN OrderID_fieldfootercolumn}
<td class="runner-cc "></td>
{END OrderID_fieldfootercolumn}
{BEGIN ProductID_fieldfootercolumn}
<td class="runner-cc "></td>
{END ProductID_fieldfootercolumn}
{BEGIN UPrice_fieldfootercolumn}
<td class="runner-cc "></td>
{END UPrice_fieldfootercolumn}
{BEGIN OrdQuant_fieldfootercolumn}
<td class="runner-cc "></td>
{END OrdQuant_fieldfootercolumn}
{BEGIN DelQuant_fieldfootercolumn}
<td class="runner-cc "></td>
{END DelQuant_fieldfootercolumn}
{BEGIN Discount_fieldfootercolumn}
<td class="runner-cc "></td>
{END Discount_fieldfootercolumn}
{BEGIN Total_fieldfootercolumn}
<td class="runner-cc "></td>
{END Total_fieldfootercolumn}
{BEGIN DelDate_fieldfootercolumn}
<td class="runner-cc "></td>
{END DelDate_fieldfootercolumn}
{BEGIN BillNo_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END BillNo_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
