<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="ODetailID">
	{$ODetailID_editcontrol}
	</control>
	<control field="OrderID">
	{$OrderID_editcontrol}
	</control>
	<control field="ProductID">
	{$ProductID_editcontrol}
	</control>
	<control field="OrdQuant">
	{$OrdQuant_editcontrol}
	</control>
	<control field="DelQuant">
	{$DelQuant_editcontrol}
	</control>
	<control field="DelDate">
	{$DelDate_editcontrol}
	</control>
	<control field="BillNo">
	{$BillNo_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>