<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Pname">
	{$Pname_editcontrol}
	</control>
	<control 
	field="CatID">
	{$CatID_editcontrol}
	</control>
	<control 
	field="Usize">
	{$Usize_editcontrol}
	</control>
	<control 
	field="Uweight">
	{$Uweight_editcontrol}
	</control>
	<control 
	field="QPerUnit">
	{$QPerUnit_editcontrol}
	</control>
	<control 
	field="Qty">
	{$Qty_editcontrol}
	</control>
	<control 
	field="ReOrLevel">
	{$ReOrLevel_editcontrol}
	</control>
	<control 
	field="Uprice">
	{$Uprice_editcontrol}
	</control>
	<control 
	field="USP">
	{$USP_editcontrol}
	</control>
	<control 
	field="Discount">
	{$Discount_editcontrol}
	</control>
	<control 
	field="Note">
	{$Note_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
