<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Product List View - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN ProdID_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ProdID {$fielddispclass_ProdID}">
				Prod ID
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ProdID {$fielddispclass_ProdID}">
			<input type="checkbox" {$ProdID_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ProdID {$fielddispclass_ProdID}">
			{$searchtype_ProdID}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ProdID {$fielddispclass_ProdID}">
			{$ProdID_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ProdID {$fielddispclass_ProdID}">
			{$ProdID_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ProdID_fieldblock}
	{BEGIN Product_Name_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Product_Name {$fielddispclass_Product_Name}">
				Product Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Product_Name {$fielddispclass_Product_Name}">
			<input type="checkbox" {$Product_Name_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Product_Name {$fielddispclass_Product_Name}">
			{$searchtype_Product_Name}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Product_Name {$fielddispclass_Product_Name}">
			{$Product_Name_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Product_Name {$fielddispclass_Product_Name}">
			{$Product_Name_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Product_Name_fieldblock}
	{BEGIN CatName_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_CatName {$fielddispclass_CatName}">
				Cat Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_CatName {$fielddispclass_CatName}">
			<input type="checkbox" {$CatName_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_CatName {$fielddispclass_CatName}">
			{$searchtype_CatName}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_CatName {$fielddispclass_CatName}">
			{$CatName_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_CatName {$fielddispclass_CatName}">
			{$CatName_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END CatName_fieldblock}
	{BEGIN CatID_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_CatID {$fielddispclass_CatID}">
				Category
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_CatID {$fielddispclass_CatID}">
			<input type="checkbox" {$CatID_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_CatID {$fielddispclass_CatID}">
			{$searchtype_CatID}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_CatID {$fielddispclass_CatID}">
			{$CatID_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_CatID {$fielddispclass_CatID}">
			{$CatID_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END CatID_fieldblock}
	{BEGIN SuppID_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_SuppID {$fielddispclass_SuppID}">
				Supplier
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_SuppID {$fielddispclass_SuppID}">
			<input type="checkbox" {$SuppID_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_SuppID {$fielddispclass_SuppID}">
			{$searchtype_SuppID}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_SuppID {$fielddispclass_SuppID}">
			{$SuppID_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_SuppID {$fielddispclass_SuppID}">
			{$SuppID_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END SuppID_fieldblock}
	{BEGIN QPerUnit_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_QPerUnit {$fielddispclass_QPerUnit}">
				Quantity per Unit
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_QPerUnit {$fielddispclass_QPerUnit}">
			<input type="checkbox" {$QPerUnit_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_QPerUnit {$fielddispclass_QPerUnit}">
			{$searchtype_QPerUnit}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_QPerUnit {$fielddispclass_QPerUnit}">
			{$QPerUnit_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_QPerUnit {$fielddispclass_QPerUnit}">
			{$QPerUnit_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END QPerUnit_fieldblock}
	{BEGIN Uweight_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Uweight {$fielddispclass_Uweight}">
				Unit Weight
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Uweight {$fielddispclass_Uweight}">
			<input type="checkbox" {$Uweight_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Uweight {$fielddispclass_Uweight}">
			{$searchtype_Uweight}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Uweight {$fielddispclass_Uweight}">
			{$Uweight_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Uweight {$fielddispclass_Uweight}">
			{$Uweight_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Uweight_fieldblock}
	{BEGIN Usize_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Usize {$fielddispclass_Usize}">
				Unit Size
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Usize {$fielddispclass_Usize}">
			<input type="checkbox" {$Usize_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Usize {$fielddispclass_Usize}">
			{$searchtype_Usize}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Usize {$fielddispclass_Usize}">
			{$Usize_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Usize {$fielddispclass_Usize}">
			{$Usize_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Usize_fieldblock}
	{BEGIN UInStock_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_UInStock {$fielddispclass_UInStock}">
				UIn Stock
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_UInStock {$fielddispclass_UInStock}">
			<input type="checkbox" {$UInStock_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_UInStock {$fielddispclass_UInStock}">
			{$searchtype_UInStock}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_UInStock {$fielddispclass_UInStock}">
			{$UInStock_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_UInStock {$fielddispclass_UInStock}">
			{$UInStock_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END UInStock_fieldblock}
	{BEGIN ReOrLevel_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ReOrLevel {$fielddispclass_ReOrLevel}">
				Re-Order Level
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ReOrLevel {$fielddispclass_ReOrLevel}">
			<input type="checkbox" {$ReOrLevel_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ReOrLevel {$fielddispclass_ReOrLevel}">
			{$searchtype_ReOrLevel}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ReOrLevel {$fielddispclass_ReOrLevel}">
			{$ReOrLevel_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ReOrLevel {$fielddispclass_ReOrLevel}">
			{$ReOrLevel_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ReOrLevel_fieldblock}
	{BEGIN Desc_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Desc {$fielddispclass_Desc}">
				Desc
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Desc {$fielddispclass_Desc}">
			<input type="checkbox" {$Desc_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Desc {$fielddispclass_Desc}">
			{$searchtype_Desc}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Desc {$fielddispclass_Desc}">
			{$Desc_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Desc {$fielddispclass_Desc}">
			{$Desc_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Desc_fieldblock}
	{BEGIN Note_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Note {$fielddispclass_Note}">
				Note
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Note {$fielddispclass_Note}">
			<input type="checkbox" {$Note_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Note {$fielddispclass_Note}">
			{$searchtype_Note}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Note {$fielddispclass_Note}">
			{$Note_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Note {$fielddispclass_Note}">
			{$Note_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Note_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
