<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ProdNo">
	{$ProdNo_editcontrol}
	</control>
	<control 
	field="Pname">
	{$Pname_editcontrol}
	</control>
	<control 
	field="CatID">
	{$CatID_editcontrol}
	</control>
	<control 
	field="Usize">
	{$Usize_editcontrol}
	</control>
	<control 
	field="SuppID">
	{$SuppID_editcontrol}
	</control>
	<control 
	field="Uweight">
	{$Uweight_editcontrol}
	</control>
	<control 
	field="UInStock">
	{$UInStock_editcontrol}
	</control>
	<control 
	field="ReOrLevel">
	{$ReOrLevel_editcontrol}
	</control>
	<control 
	field="QPerUnit">
	{$QPerUnit_editcontrol}
	</control>
	<control 
	field="Qty">
	{$Qty_editcontrol}
	</control>
	<control 
	field="Note">
	{$Note_editcontrol}
	</control>
	<control 
	field="staffID">
	{$staffID_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
