<div class="searchOptions bottomPanelBorder" {$srchOpt_attrs}>
	<!-- Search panel content -->
	<div class="srchCritTop" style="display: none;">
		Criteria:&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$all_checkbox}> {BEGIN all_checkbox_label}all{END all_checkbox_label}
		&nbsp;&nbsp;&nbsp;
		<input type="radio" name="srchType" class="runner-radio-button" {$any_checkbox}> {BEGIN any_checkbox_label}any{END any_checkbox_label}
	</div>
	
	<div class="addOption">
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideControlChooseMenu{$id}" class="runner-button" {$showHideCtrls_attrs}>Add field</a>
		</span>
		&nbsp;&nbsp;&nbsp;
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" id="showHideSearchType{$id}" class="runner-button" {$showHideCtrlsOpt_attrs}>{$showHideOpt_mess}</a>
		</span>
	</div>
	
	<!-- choose controls div -->
	<div class="runner-panel controlChooseMenu" {$controlChooseMenuDiv_attrs}>
		{BEGIN addSearch_ProdNo}
			<a href="#" id="addSearchControl_ProdNo" class="addSearchControl" {$addSearchControl_ProdNo_attrs}>Product Number</a><br>
		{END addSearch_ProdNo}
		{BEGIN addSearch_Pname}
			<a href="#" id="addSearchControl_Pname" class="addSearchControl" {$addSearchControl_Pname_attrs}>Product Name</a><br>
		{END addSearch_Pname}
		{BEGIN addSearch_CatID}
			<a href="#" id="addSearchControl_CatID" class="addSearchControl" {$addSearchControl_CatID_attrs}>Category</a><br>
		{END addSearch_CatID}
		{BEGIN addSearch_Usize}
			<a href="#" id="addSearchControl_Usize" class="addSearchControl" {$addSearchControl_Usize_attrs}>Unit Size</a><br>
		{END addSearch_Usize}
		{BEGIN addSearch_SuppID}
			<a href="#" id="addSearchControl_SuppID" class="addSearchControl" {$addSearchControl_SuppID_attrs}>Supplier</a><br>
		{END addSearch_SuppID}
		{BEGIN addSearch_Uweight}
			<a href="#" id="addSearchControl_Uweight" class="addSearchControl" {$addSearchControl_Uweight_attrs}>Unit Weight</a><br>
		{END addSearch_Uweight}
		{BEGIN addSearch_QPerUnit}
			<a href="#" id="addSearchControl_QPerUnit" class="addSearchControl" {$addSearchControl_QPerUnit_attrs}>Quantity per Unit</a><br>
		{END addSearch_QPerUnit}
		{BEGIN addSearch_Qty}
			<a href="#" id="addSearchControl_Qty" class="addSearchControl" {$addSearchControl_Qty_attrs}>Available Quantity (pcs)</a><br>
		{END addSearch_Qty}
		{BEGIN addSearch_ReOrLevel}
			<a href="#" id="addSearchControl_ReOrLevel" class="addSearchControl" {$addSearchControl_ReOrLevel_attrs}>Re-Order Level</a><br>
		{END addSearch_ReOrLevel}
		{BEGIN addSearch_Uprice}
			<a href="#" id="addSearchControl_Uprice" class="addSearchControl" {$addSearchControl_Uprice_attrs}>Unit Price</a><br>
		{END addSearch_Uprice}
		{BEGIN addSearch_USP}
			<a href="#" id="addSearchControl_USP" class="addSearchControl" {$addSearchControl_USP_attrs}>Unit Selling Price</a><br>
		{END addSearch_USP}
		{BEGIN addSearch_Discount}
			<a href="#" id="addSearchControl_Discount" class="addSearchControl" {$addSearchControl_Discount_attrs}>Discount</a><br>
		{END addSearch_Discount}
		{BEGIN addSearch_Note}
			<a href="#" id="addSearchControl_Note" class="addSearchControl" {$addSearchControl_Note_attrs}>Note</a><br>
		{END addSearch_Note}
	</div>
	
	<div class="controlsBlock">
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow" {$filterRow_attrs}>
			<div class="srchPanelCell">{$delCtrlButt}&nbsp;{$fLabel}:&nbsp;</div>
			<div class="srchPanelCell srchPanelCell2">{$searchtype} {$searchcontrol} {$searchcontrol1}</div>
		</div>
		{END searchCtrlBlock}
	</div>
		
	<div class="bottomSearchButt" align="left" {$bottomSearchButt_attrs}>
		<span class="runner-btnframe">
		<span class="runner-btnleft"></span>
		<span class="runner-btnright"></span>
		<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
		</span>
	</div>
</div>
