<div {$pageattrs}>

{BEGIN container_0}
<table class="runner-c runner-c-0" cellpadding="0" >
<tr class="{$cheaderclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
<tr class="runner-row style1">
<td class="runner-cl"></td>
<td class="runner-cc">
<table border="0" cellpadding="0" class="runner-hc">
<tr>


<td  class="runner-cc runner-bl runner-b-masterprintheader" {$brickclass_masterprintheader}><span><b><span dir="LTR">Product Inventory: [{$showKeys}]</span></b>
</span></td>


<td class="runner-cc filler"></td>
</tr>
</table></td>
<td class="runner-cr"></td>
</tr>

<tr class="{$cfooterclass_0}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_0}



{BEGIN container_mastergrid}



<div class="runner-s-grid">	
	<table class="runner-c runner-c-mastergrid runner-b-masterprintfields" cellpadding="0">
		<tr class="runner-toprow style1">
			<th class="runner-cl"><img src="images/spacer.gif"></th>
			<th class="runner-cc ">Prod ID</th>
			<th class="runner-cc ">Product Number</th>
			<th class="runner-cc ">Product Name</th>
			<th class="runner-cc ">Category</th>
			<th class="runner-cc ">Unit Size</th>
			<th class="runner-cc ">Supplier</th>
			<th class="runner-cc ">Unit Weight</th>
			<th class="runner-cc ">Units In Stock</th>
			<th class="runner-cc ">Units In Order</th>
			<th class="runner-cc ">Re-Order Level</th>
			<th class="runner-cc ">Quantity per Unit</th>
			<th class="runner-cc ">Available Quantity (pcs)</th>
			<th class="runner-cc ">Note</th>
			<th class="runner-cc ">Unit Price</th>
			<th class="runner-cc ">Unit Selling Price</th>
			<th class="runner-cc ">Staff ID</th>
			<th class="runner-cc runner-clast">Discount</th>
			<th class="runner-cr"><img src="images/spacer.gif"></th>
		</tr>
		<tr class="runner-row style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc ">{$ProdID_mastervalue}</td>
			<td class="runner-cc ">{$ProdNo_mastervalue}</td>
			<td class="runner-cc ">{$Pname_mastervalue}</td>
			<td class="runner-cc ">{$CatID_mastervalue}</td>
			<td class="runner-cc ">{$Usize_mastervalue}</td>
			<td class="runner-cc ">{$SuppID_mastervalue}</td>
			<td class="runner-cc ">{$Uweight_mastervalue}</td>
			<td class="runner-cc ">{$UInStock_mastervalue}</td>
			<td class="runner-cc ">{$UInOrder_mastervalue}</td>
			<td class="runner-cc ">{$ReOrLevel_mastervalue}</td>
			<td class="runner-cc ">{$QPerUnit_mastervalue}</td>
			<td class="runner-cc ">{$Qty_mastervalue}</td>
			<td class="runner-cc ">{$Note_mastervalue}</td>
			<td class="runner-cc ">{$Uprice_mastervalue}</td>
			<td class="runner-cc ">{$USP_mastervalue}</td>
			<td class="runner-cc ">{$staffID_mastervalue}</td>
			<td class="runner-cc runner-clast">{$Discount_mastervalue}</td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
		<tr class="runner-bottomrow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc "></td>
				<td class="runner-cc runner-clast"></td>
			<td class="runner-cr"><img src="images/spacer.gif"></td>
		</tr>
	</table>
</div>	




{END container_mastergrid}

</div>