<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					



{BEGIN container_view}
<table class="runner-c runner-c-view" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-viewheader {$brickclass_viewheader}">Product Inventory, View record [
Prod ID: {$show_key1}
]</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


	{BEGIN ProdID_fieldblock}
	<tr class="runner-toprow header style1 runner-b-viewfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_ProdID {$fielddispclass_ProdID}">
			<b>Prod ID</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_ProdID {$fielddispclass_ProdID}">
			{$ProdID_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"><img src="images/spacer.gif"></td></tr>
{END ProdID_fieldblock}
	{BEGIN Pname_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Pname {$fielddispclass_Pname}">
			<b>Product Name</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Pname {$fielddispclass_Pname}">
			{$Pname_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Pname_fieldblock}
	{BEGIN CatID_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_CatID {$fielddispclass_CatID}">
			<b>Category</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_CatID {$fielddispclass_CatID}">
			{$CatID_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END CatID_fieldblock}
	{BEGIN Usize_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Usize {$fielddispclass_Usize}">
			<b>Unit Size</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Usize {$fielddispclass_Usize}">
			{$Usize_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Usize_fieldblock}
	{BEGIN Uweight_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Uweight {$fielddispclass_Uweight}">
			<b>Unit Weight</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Uweight {$fielddispclass_Uweight}">
			{$Uweight_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Uweight_fieldblock}
	{BEGIN SuppID_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_SuppID {$fielddispclass_SuppID}">
			<b>Supplier</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_SuppID {$fielddispclass_SuppID}">
			{$SuppID_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END SuppID_fieldblock}
	{BEGIN QPerUnit_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_QPerUnit {$fielddispclass_QPerUnit}">
			<b>Quantity per Unit</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_QPerUnit {$fielddispclass_QPerUnit}">
			{$QPerUnit_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END QPerUnit_fieldblock}
	{BEGIN UInStock_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_UInStock {$fielddispclass_UInStock}">
			<b>Units In Stock</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_UInStock {$fielddispclass_UInStock}">
			{$UInStock_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END UInStock_fieldblock}
	{BEGIN ReOrLevel_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_ReOrLevel {$fielddispclass_ReOrLevel}">
			<b>Re-Order Level</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_ReOrLevel {$fielddispclass_ReOrLevel}">
			{$ReOrLevel_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END ReOrLevel_fieldblock}
	{BEGIN UInOrder_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_UInOrder {$fielddispclass_UInOrder}">
			<b>Units In Order</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_UInOrder {$fielddispclass_UInOrder}">
			{$UInOrder_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END UInOrder_fieldblock}
	{BEGIN Uprice_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Uprice {$fielddispclass_Uprice}">
			<b>Unit Price</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Uprice {$fielddispclass_Uprice}">
			{$Uprice_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Uprice_fieldblock}
	{BEGIN USP_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_USP {$fielddispclass_USP}">
			<b>Unit Selling Price</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_USP {$fielddispclass_USP}">
			{$USP_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END USP_fieldblock}
	{BEGIN Discount_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Discount {$fielddispclass_Discount}">
			<b>Discount</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Discount {$fielddispclass_Discount}">
			{$Discount_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Discount_fieldblock}
	{BEGIN Note_fieldblock}
	<tr class="runner-row style1 runner-b-viewfields"><td class="runner-cl"></td>
	<td class="runner-cc runner-cc1">
		<div class="fieldlabel_Note {$fielddispclass_Note}">
			<b>Note</b>
		</div>
		</td>
		<td class="runner-cc alt">
		<div class="fieldvalue_Note {$fielddispclass_Note}">
			{$Note_value}&nbsp;
		</div>
		</td>
	<td class="runner-cr alt"></td></tr>
{END Note_fieldblock}




<tr  class="runner-row style2 runner-b-viewbuttons {$brickclass_viewbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" colspan=2>{BEGIN prev_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
</span>
{END prev_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}
{BEGIN next_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
</span>
{END next_button}
</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_view}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_view}




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
