<div {$pageattrs}>

{BEGIN container_dcount}
<table class="runner-c runner-c-dcount" cellpadding="0" >
<tr class="{$cheaderclass_dcount}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>


<tr  class="runner-row style1 runner-b-detailspreviewheader {$brickclass_detailspreviewheader}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" ><b>Receiving</b>
</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style1 runner-b-detailspreviewdetailsfount {$brickclass_detailspreviewdetailsfount}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >Details found: <strong>{$row_count}.</strong>
</td><td class="runner-cr"></td></tr>


{BEGIN display_first}
<tr  class="runner-row style1 runner-b-detailspreviewdispfirst {$brickclass_detailspreviewdispfirst}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >Displaying first: <strong>{$display_count}</strong>.
</td><td class="runner-cr"></td></tr>{END display_first}


<tr class="{$cfooterclass_dcount}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_dcount}



{BEGIN container_detailspreviewgrid}


{BEGIN details_data}
<table class="runner-c runner-c-detailspreviewgrid runner-b-detailspreviewgrid">
	<tr  class="runner-toprow style1">
		<th class="runner-cl"><img src="images/spacer.gif"></th>
		<th class="runner-cc ">ID</th>
		<th class="runner-cc ">Request ID</th>
		<th class="runner-cc ">Staff</th>
		<th class="runner-cc ">Product</th>
		<th class="runner-cc ">Qty</th>
		<th class="runner-cc ">Notes</th>
		<th class="runner-cc runner-clast">Receive Flag</th>
		<th class="runner-cr"><img src="images/spacer.gif"></th>
	</tr>
	{BEGIN details_row}
	<tr class="runner-row style1">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
		<td class="runner-cc ">{$ID_value}</td>
		<td class="runner-cc ">{$RequestID_value}</td>
		<td class="runner-cc ">{$StaffID_value}</td>
		<td class="runner-cc ">{$ProductID_value}</td>
		<td class="runner-cc ">{$Qty_value}</td>
		<td class="runner-cc ">{$Notes_value}</td>
		<td class="runner-cc runner-clast">{$ReceiveFlag_value}</td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
	{END details_row}
	<tr class="runner-bottomrow style1">
		<td class="runner-cl"><img src="images/spacer.gif"></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc "></td>
			<td class="runner-cc runner-clast"></td>
		<td class="runner-cr"><img src="images/spacer.gif"></td>
	</tr>
</table>

{END details_data}



{END container_detailspreviewgrid}

</div>