<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					




				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					

{BEGIN container_grid}


{BEGIN grid_block}
{BEGIN page}
<h1>Users</h1>
<span>
{BEGIN page_number}
Page {$pageno} of {$maxpages} 
{END page_number}
</span>

	<div class="runner-s-grid">	
	<table class="runner-c runner-c-grid" cellpadding="0">
		<thead>
		{BEGIN grid_header}
		<tr class="runner-toprow style1">
			<td class="runner-cl"><img src="images/spacer.gif"></td>
			{BEGIN record_header}
					{BEGIN StaffID_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN StaffID_fieldheader}
	<b>Staff ID</b>
	{END StaffID_fieldheader}
</th>
{END StaffID_fieldheadercolumn}
	{BEGIN UserName_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN UserName_fieldheader}
	<b>User Name</b>
	{END UserName_fieldheader}
</th>
{END UserName_fieldheadercolumn}
	{BEGIN Fname_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Fname_fieldheader}
	<b>First Name</b>
	{END Fname_fieldheader}
</th>
{END Fname_fieldheadercolumn}
	{BEGIN Lname_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Lname_fieldheader}
	<b>Last Name</b>
	{END Lname_fieldheader}
</th>
{END Lname_fieldheadercolumn}
	{BEGIN DOB_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN DOB_fieldheader}
	<b>Date of Birth</b>
	{END DOB_fieldheader}
</th>
{END DOB_fieldheadercolumn}
	{BEGIN Password_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Password_fieldheader}
	<b>Password</b>
	{END Password_fieldheader}
</th>
{END Password_fieldheadercolumn}
	{BEGIN Sex_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Sex_fieldheader}
	<b>Sex</b>
	{END Sex_fieldheader}
</th>
{END Sex_fieldheadercolumn}
	{BEGIN Phone_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Phone_fieldheader}
	<b>Phone</b>
	{END Phone_fieldheader}
</th>
{END Phone_fieldheadercolumn}
	{BEGIN RoleID_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN RoleID_fieldheader}
	<b>Role ID</b>
	{END RoleID_fieldheader}
</th>
{END RoleID_fieldheadercolumn}
	{BEGIN Name_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Name_fieldheader}
	<b>Name</b>
	{END Name_fieldheader}
</th>
{END Name_fieldheadercolumn}
	{BEGIN Address_fieldheadercolumn}
<th class="runner-cc">
	{BEGIN Address_fieldheader}
	<b>Address</b>
	{END Address_fieldheader}
</th>
{END Address_fieldheadercolumn}
		
			{END record_header}
			<td class="runner-cr"><img src="images/spacer.gif"></td>
			{BEGIN endrecordheader_block}
			<td class="runner-cs">&nbsp;</td>
			{END endrecordheader_block}
		</tr>
	{END grid_header}
		</thead>
		<tbody>	
		{BEGIN grid_row}
	<tr class="runner-row style1" {$rowattrs} {$rowstyle} {$rowstyle}>
		<td class="runner-cl"></td>
		{BEGIN grid_record}
				{BEGIN StaffID_fieldcolumn}
<td  class="runner-cc {$StaffID_class}" {$StaffID_style}>
	{$StaffID_value}
</td>
{END StaffID_fieldcolumn}
	{BEGIN UserName_fieldcolumn}
<td  class="runner-cc {$UserName_class}" {$UserName_style}>
	{$UserName_value}
</td>
{END UserName_fieldcolumn}
	{BEGIN Fname_fieldcolumn}
<td  class="runner-cc {$Fname_class}" {$Fname_style}>
	{$Fname_value}
</td>
{END Fname_fieldcolumn}
	{BEGIN Lname_fieldcolumn}
<td  class="runner-cc {$Lname_class}" {$Lname_style}>
	{$Lname_value}
</td>
{END Lname_fieldcolumn}
	{BEGIN DOB_fieldcolumn}
<td  class="runner-cc {$DOB_class}" {$DOB_style}>
	{$DOB_value}
</td>
{END DOB_fieldcolumn}
	{BEGIN Password_fieldcolumn}
<td  class="runner-cc {$Password_class}" {$Password_style}>
	{$Password_value}
</td>
{END Password_fieldcolumn}
	{BEGIN Sex_fieldcolumn}
<td  class="runner-cc {$Sex_class}" {$Sex_style}>
	{$Sex_value}
</td>
{END Sex_fieldcolumn}
	{BEGIN Phone_fieldcolumn}
<td  class="runner-cc {$Phone_class}" {$Phone_style}>
	{$Phone_value}
</td>
{END Phone_fieldcolumn}
	{BEGIN RoleID_fieldcolumn}
<td  class="runner-cc {$RoleID_class}" {$RoleID_style}>
	{$RoleID_value}
</td>
{END RoleID_fieldcolumn}
	{BEGIN Name_fieldcolumn}
<td  class="runner-cc {$Name_class}" {$Name_style}>
	{$Name_value}
</td>
{END Name_fieldcolumn}
	{BEGIN Address_fieldcolumn}
<td  class="runner-cc {$Address_class}" {$Address_style}>
	{$Address_value}
</td>
{END Address_fieldcolumn}

		{END grid_record}
		<td class="runner-cr"></td>
		{BEGIN endrecord_block}
		<td class="runner-cs">&nbsp;</td>
		{END endrecord_block}
	</tr>
{END grid_row}
										
								<tr class="runner-bottomrow style1">
									<td class="runner-cl"><img src="images/spacer.gif"></td>
									{BEGIN record_footer}
									{BEGIN StaffID_fieldfootercolumn}
<td class="runner-cc "></td>
{END StaffID_fieldfootercolumn}
{BEGIN UserName_fieldfootercolumn}
<td class="runner-cc "></td>
{END UserName_fieldfootercolumn}
{BEGIN Fname_fieldfootercolumn}
<td class="runner-cc "></td>
{END Fname_fieldfootercolumn}
{BEGIN Lname_fieldfootercolumn}
<td class="runner-cc "></td>
{END Lname_fieldfootercolumn}
{BEGIN DOB_fieldfootercolumn}
<td class="runner-cc "></td>
{END DOB_fieldfootercolumn}
{BEGIN Password_fieldfootercolumn}
<td class="runner-cc "></td>
{END Password_fieldfootercolumn}
{BEGIN Sex_fieldfootercolumn}
<td class="runner-cc "></td>
{END Sex_fieldfootercolumn}
{BEGIN Phone_fieldfootercolumn}
<td class="runner-cc "></td>
{END Phone_fieldfootercolumn}
{BEGIN RoleID_fieldfootercolumn}
<td class="runner-cc "></td>
{END RoleID_fieldfootercolumn}
{BEGIN Name_fieldfootercolumn}
<td class="runner-cc "></td>
{END Name_fieldfootercolumn}
{BEGIN Address_fieldfootercolumn}
<td class="runner-cc runner-clast"></td>
{END Address_fieldfootercolumn}

									{END record_footer}
									<td class="runner-cr"><img src="images/spacer.gif"></td>
									{BEGIN endrecordtotals_block}
									<td class="runner-cs"></td>
									{END endrecordtotals_block}
								</tr>

		</tbody>
	</table>
</div>	
{END page}

{END grid_block}



{END container_grid}


				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
