<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="RequestID">
	{$RequestID_editcontrol}
	</control>
	<control field="StaffID">
	{$StaffID_editcontrol}
	</control>
	<control field="SupplierID">
	{$SupplierID_editcontrol}
	</control>
	<control field="ProductID">
	{$ProductID_editcontrol}
	</control>
	<control field="Qty">
	{$Qty_editcontrol}
	</control>
	<control field="Notes">
	{$Notes_editcontrol}
	</control>
	<control field="ReceiveFlag">
	{$ReceiveFlag_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>