<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="ComName">
	{$ComName_editcontrol}
	</control>
	<control 
	field="ConFName">
	{$ConFName_editcontrol}
	</control>
	<control 
	field="ConLName">
	{$ConLName_editcontrol}
	</control>
	<control 
	field="ConTitle">
	{$ConTitle_editcontrol}
	</control>
	<control 
	field="Address">
	{$Address_editcontrol}
	</control>
	<control 
	field="Phone">
	{$Phone_editcontrol}
	</control>
	<control 
	field="Email">
	{$Email_editcontrol}
	</control>
	<control 
	field="Fax">
	{$Fax_editcontrol}
	</control>
	<control 
	field="PayMeth">
	{$PayMeth_editcontrol}
	</control>
	<control 
	field="DisType">
	{$DisType_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
