<!doctype html>
<html  {$html_attrs}>
	<head>
		<title>{$pagetitle}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=7">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
		<!--[if IE]>
			<link REL="stylesheet" href="styles/defaultIE.css" type="text/css">
			{BEGIN IEcssFiles}
			<link REL="stylesheet" href="{$stylepathIE}" type="text/css">
			{END IEcssFiles}
		<![endif]-->
	</head>
	
	<body class="{$stylename}" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<table   cellpadding="0" class="runner-toptable">
			<tr class="runner-header">
				<td class="runner-top" colspan=3>
					

{BEGIN container_search}
<table class="runner-c runner-c-search" cellpadding="0" align=center>


<tr class="runner-toprow style2 header"><td class="runner-cl"><img src="images/spacer.gif"></td><td class="runner-cc" ><div  class="runner-b-srchheader {$brickclass_srchheader}">Supplier Listing - Advanced search
{$CrossElem}</div></td><td class="runner-cr"><img src="images/spacer.gif"></td></tr>


{BEGIN conditions_block}
<tr  class="runner-row style1 runner-b-srchconditions {$brickclass_srchconditions}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="runner-radio-button" name="srchType" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="runner-radio-button" name="srchType" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></td><td class="runner-cr"></td></tr>{END conditions_block}



<tr  class="runner-row style1 runner-b-wrapper {$wrapperclass_fields}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents runner-wrapper" >

{BEGIN container_fields}
<table class="runner-c runner-c-fields" cellpadding="0" >


<tr class="runner-toprow header style2 runner-b-srchfields"><td class="runner-cl"><img src="images/spacer.gif"></td>
	<td class="runner-cc">&nbsp;</td>
	<td class="runner-cc">NOT</td>
	<td class="runner-cc" colspan=3>&nbsp; </td>
<td class="runner-cr"></td></tr>
	{BEGIN ComName_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ComName {$fielddispclass_ComName}">
				Company Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ComName {$fielddispclass_ComName}">
			<input type="checkbox" {$ComName_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ComName {$fielddispclass_ComName}">
			{$searchtype_ComName}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ComName {$fielddispclass_ComName}">
			{$ComName_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ComName {$fielddispclass_ComName}">
			{$ComName_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ComName_fieldblock}
	{BEGIN SupplierID_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_SupplierID {$fielddispclass_SupplierID}">
				Supplier ID
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_SupplierID {$fielddispclass_SupplierID}">
			<input type="checkbox" {$SupplierID_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_SupplierID {$fielddispclass_SupplierID}">
			{$searchtype_SupplierID}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_SupplierID {$fielddispclass_SupplierID}">
			{$SupplierID_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_SupplierID {$fielddispclass_SupplierID}">
			{$SupplierID_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END SupplierID_fieldblock}
	{BEGIN ConFName_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ConFName {$fielddispclass_ConFName}">
				Contact First Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ConFName {$fielddispclass_ConFName}">
			<input type="checkbox" {$ConFName_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ConFName {$fielddispclass_ConFName}">
			{$searchtype_ConFName}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ConFName {$fielddispclass_ConFName}">
			{$ConFName_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ConFName {$fielddispclass_ConFName}">
			{$ConFName_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ConFName_fieldblock}
	{BEGIN ConLName_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ConLName {$fielddispclass_ConLName}">
				Contact Last Name
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ConLName {$fielddispclass_ConLName}">
			<input type="checkbox" {$ConLName_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ConLName {$fielddispclass_ConLName}">
			{$searchtype_ConLName}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ConLName {$fielddispclass_ConLName}">
			{$ConLName_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ConLName {$fielddispclass_ConLName}">
			{$ConLName_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ConLName_fieldblock}
	{BEGIN ConTitle_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_ConTitle {$fielddispclass_ConTitle}">
				Contact Title
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ConTitle {$fielddispclass_ConTitle}">
			<input type="checkbox" {$ConTitle_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_ConTitle {$fielddispclass_ConTitle}">
			{$searchtype_ConTitle}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ConTitle {$fielddispclass_ConTitle}">
			{$ConTitle_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_ConTitle {$fielddispclass_ConTitle}">
			{$ConTitle_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END ConTitle_fieldblock}
	{BEGIN Address_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Address {$fielddispclass_Address}">
				Address
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Address {$fielddispclass_Address}">
			<input type="checkbox" {$Address_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Address {$fielddispclass_Address}">
			{$searchtype_Address}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Address {$fielddispclass_Address}">
			{$Address_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Address {$fielddispclass_Address}">
			{$Address_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Address_fieldblock}
	{BEGIN Email_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Email {$fielddispclass_Email}">
				Email
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Email {$fielddispclass_Email}">
			<input type="checkbox" {$Email_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Email {$fielddispclass_Email}">
			{$searchtype_Email}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Email {$fielddispclass_Email}">
			{$Email_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Email {$fielddispclass_Email}">
			{$Email_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Email_fieldblock}
	{BEGIN Phone_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Phone {$fielddispclass_Phone}">
				Phone
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Phone {$fielddispclass_Phone}">
			<input type="checkbox" {$Phone_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Phone {$fielddispclass_Phone}">
			{$searchtype_Phone}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Phone {$fielddispclass_Phone}">
			{$Phone_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Phone {$fielddispclass_Phone}">
			{$Phone_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Phone_fieldblock}
	{BEGIN Fax_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_Fax {$fielddispclass_Fax}">
				Fax
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Fax {$fielddispclass_Fax}">
			<input type="checkbox" {$Fax_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_Fax {$fielddispclass_Fax}">
			{$searchtype_Fax}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Fax {$fielddispclass_Fax}">
			{$Fax_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_Fax {$fielddispclass_Fax}">
			{$Fax_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END Fax_fieldblock}
	{BEGIN PayMeth_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_PayMeth {$fielddispclass_PayMeth}">
				Payment Method
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_PayMeth {$fielddispclass_PayMeth}">
			<input type="checkbox" {$PayMeth_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_PayMeth {$fielddispclass_PayMeth}">
			{$searchtype_PayMeth}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_PayMeth {$fielddispclass_PayMeth}">
			{$PayMeth_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_PayMeth {$fielddispclass_PayMeth}">
			{$PayMeth_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END PayMeth_fieldblock}
	{BEGIN DisType_fieldblock}		
	<tr class="runner-row style1 runner-b-srchfields"><td class="runner-cl"></td>
		<td class="runner-cc runner-cc1">
			<div class="fieldlabel_DisType {$fielddispclass_DisType}">
				Discount Type
			</div>
		</td>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_DisType {$fielddispclass_DisType}">
			<input type="checkbox" {$DisType_notbox}>
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldoption_DisType {$fielddispclass_DisType}">
			{$searchtype_DisType}
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_DisType {$fielddispclass_DisType}">
			{$DisType_editcontrol}&nbsp;
		</div>
	</td>
	<td class="runner-cc alt">
		<div class="fieldcontrol_DisType {$fielddispclass_DisType}">
			{$DisType_editcontrol1}&nbsp;
		</div>
	</td>
	<td class="runner-cr alt"></td></tr>
{END DisType_fieldblock}



<tr class="{$cfooterclass_fields}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cc alt"></td><td class="runner-cr alt"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_fields}

</td><td class="runner-cr"></td></tr>



<tr  class="runner-row style2 runner-b-srchbuttons {$brickclass_srchbuttons}"><td class="runner-cl"></td><td class="runner-cc runner-brickcontents" >{BEGIN search_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$searchbutton_attrs}>Search</a>
</span>
{END search_button} 
{BEGIN reset_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$resetbutton_attrs}>Reset</a>
</span>
{END reset_button}
{BEGIN back_button}
<span class="runner-btnframe">
<span class="runner-btnleft"></span>
<span class="runner-btnright"></span>
<a href="#" class="runner-button" {$backbutton_attrs}>Back to list</a>
</span>
{END back_button}</td><td class="runner-cr"></td></tr>


<tr class="{$cfooterclass_search}">
<td class="runner-cl"><img src="images/spacer.gif"></td>
<td class="runner-cc"></td><td class="runner-cr"><img src="images/spacer.gif"></td>
</tr>
</table>
{END container_search}


				</td>
			</tr>
			<tr class="runner-body">
				
				<td class="runner-left {$blockclass_left}" >
					
				</td>	
				
				<td class="runner-center {$blockclass_center}">
					
				</td>	

				<td class="runner-right {$blockclass_right}">
					
				</td>	
			</tr>
			<tr class="runner-footer">
				<td class="runner-bottom" colspan=3>
					<!--%%bottom%%-->
				</td>
			</tr>
		</table>
		{$footer}
	{END body}
	</body>
</html>
